# Configuration file

~CONFIG_VERSION: 0.1.0

world1544803905 {
    S:filterText=
}


world3556498 {
    # Отображает список закладок рядом с открытыми интерфейсами.
    B:bookmarkOverlayEnabled=true

    # Даёт предметы вместо отображения рецепта.
    B:cheatItemsEnabled=false

    # Скрывает и раскрывает ингредиенты путём нажатием по нему в списке ингредиентов.
    B:editEnabled=false
    S:filterText=

    # Отображает список ингредиентов рядом с открытыми интерфейсами.
    B:overlayEnabled=true
}


