# Configuration file

general {
    # Allow the Creative Tank to be broken and harvested like any other tank.
    # Leave this false (the default) to keep Creative Tanks unbreakable so they can
    # be used for fixed, admin-built setups on servers and in modpacks. [default: false]
    B:creativeTankBreakable=false
}


